# Here each endpoint extension built by this factory has an input (source inside the src/) and output (in the project extensions)

export SOURCE_COPYSTUDENT=./src/copystudent.js
export PATH_COPYSTUDENT=../../polyglothouse/extensions/endpoints/copystudent/index.js
